<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment(title, style, script, link)">
  <meta charset="UTF-8" />
  <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}" type="text/javascript"></script>
  <script th:src="@{/webjars/Semantic-UI/2.2.10/semantic.min.js}" type="text/javascript"></script>
  <script th:src="@{/js/common.js}" type="text/javascript"></script>
  <th:block th:replace="${script}"/>

  <link th:href="@{/webjars/Semantic-UI/2.2.10/semantic.min.css}" rel="stylesheet" />
  <link th:href="@{/css/common.css}" rel="stylesheet"/>
  <th:block th:replace="${link}"/>

  <title th:replace="${title}">タイトル</title>
  <th:block th:replace="${style}" />
</head>
<body>
</body>
</html>
