<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/include :: headerFragment(~{::title}, ~{}, ~{}, ~{})">
  <title id="pageTitle">サンプルアプリケーション</title>
</head>
<body>
<div th:replace="common/application_header :: application_header"></div>
<div class="ui main text container">
  <div class="masthead error segment">
    <div class="container">
      <h1 class="ui dividing header">
        権限なし
      </h1>
      <p>他のページにいってね</p>
    </div>
  </div>
</div>
</body>
</html>
